body {
    background: #708090;
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* .nav {
    display: block;
    margin: auto;

} */

#mainNavbar {
    justify-content: center;
    flex-direction: column;
    /* background-color: #708090; */
    margin-left: 10px;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

ul#main-menu {
    display: flex;
    padding: 0 20px;
    background: rgb(51, 49, 46);
    border-radius: 10px;
    margin-left: 15px;
}

ul#main-menu a {
    padding: 5px 5px;
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.8s;
}

a {
    text-align: center;
}

ul#main-menu a:hover {
    display: block;
    color: #000000;
    text-decoration: none;
    background-color: #F0F8FF;
    border-radius: 10px;
}

.content {
    margin-bottom: 100px;
    margin-left: 50px;
    background-color: #E6E6FA;
    border-radius: 10px;
}

img {
    border-radius: 10px;
    box-shadow: 0px 0px 20px #000000;
}

.logo {
    margin-left: 20px;
    height: 100%;
    margin-bottom: 50px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #000000;
}


.noidung {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 60px 60px 0 0;
    margin-top: 30px;
    max-width: 960px;
    min-width: 370px;
    box-shadow: 0px 0px 20px #000000;
}


h2 {
    text-align: center;
    line-height: 35px;
    letter-spacing: 2px;
    margin-bottom: 25px;
    margin-top: 25px;
    color: #800000;
}

h3 {
    font-weight: bolder;
}

.text-noidung {
    text-align: center;
    line-height: 30px;
}

video {
    width: 100% !important;
    height: auto !important;
    border: 2px solid #598381;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #000000;
}


.chuyentrang {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 25px;
    line-height: 30px;
}

.chuyentrang:hover {
    background-color: #E6E6FA;
}