article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 2, 5;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


html {
    font-family: "Nunito", sans-serif;
    font-size: medium;
    box-sizing: border-box;
}

body {
    background: #708090;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

#mainNavbar {
    max-width: 600px;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    padding: 0 16px;
}

.navbar-brand {
    margin-right: 0px;
}

ul {
    list-style: inherit;
}

a {
    text-decoration: none;
}

a {
    text-align: center;
}

ul#main-menu {
    display: flex;
    justify-content: center;
    background: rgb(51, 49, 46);
    border-radius: 10px;
    margin-bottom: 50px;
    padding-left: 0px;
}

ul#main-menu a {
    padding: 5px 5px;
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.8s;
}

a {
    text-align: center;
}

ul#main-menu a:hover {
    display: block;
    color: #000000;
    text-decoration: none;
    background-color: #F0F8FF;
    border-radius: 10px;
}

.logo {
    max-width: 360px;
    max-height: 135px;
    height: 100%;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #000000;
}

.tenbai {
    /* margin-bottom: 50px; */
    padding: 0 16px;
}

.noidung {
    display: flex;
    flex-direction: column;
    background-color: #F8F8FF;
    border-radius: 10px;
    padding: 60px 0;
    margin-top: 30px;
    max-width: 960px;
    min-width: 360px;
    box-shadow: 0px 0px 20px #000000;
}

.noidungbai {
    padding: 0 16px;
}


.tieude-noidung {
    text-align: center;
    font-size: 35px;
    color: #800000;
    letter-spacing: 2px;
}

.tacgia {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    line-height: 35px;
    letter-spacing: 2px;
}

#timeupdate {
    display: block;
    text-align: center;
}

.tieudenho-noidung {
    font-size: 18px;
    color: #800000;
    line-height: 30px;
    font-weight: bolder;
    text-align: justify;
}


.text-noidung {
    line-height: 30px !important;
    text-align: justify;
    color: black;
    font-weight: 300;
}

ul {
    padding-left: 20px;
    padding-right: 20px;
}

li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.box {
    flex: 1 1 350px;
    text-align: center;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.anh-noidung {

    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #000000;
    border: 2px solid #598381;
}


video {
    width: 300px;
    height: auto !important;
    border: 2px solid #598381;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #000000;
    margin-top: 25px;
    margin-bottom: 25px;
}

.text-noibat {
    background-color: #598381;
    padding: 1px 5px;
    border-radius: 5px;
    font-weight: bold;
    color: #fbfbff;
}

.callout {
    display: block;
    background-color: #598381;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    color: yellow;
    transition: 1.3s;
}

.callout:hover,
.callout:focus {
    display: block;
    background-color: #8B0000;
    height: fit-content;
}

.tachnoidung {
    border-radius: 5px;
    border: 1px solid #598381;
    width: 150px;
    margin: 30px auto;
    align-content: center;
}

.tainoidung {
    text-align: center;
    font-size: 35px;
    color: #800000;
    letter-spacing: 2px;
    display: block;
    background-color: palegoldenrod;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.viewpdf {
    width: fit-content;
    padding: 2px;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: palegoldenrod;
    font-weight: bold;
    cursor: pointer;
}

textarea {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    color: #800000;
    border-radius: 10px;
}

.ketbai {
    border-radius: 5px;
    border: 1px solid #598381;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-content: center;
}


.socials-share {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.socials-share a {
    padding: 5px 16px;
    color: #fff;
    line-height: 2em;
    text-decoration: none;
    border-radius: 10px;
    white-space: nowrap;
    display: inline-block;
    margin: 0 25px;
    align-content: center;
}

.bg-facebook {
    background: #3a5899;
}

.bg-facebook:hover,
.bg-facebook:focus {
    background: #1d418d;
}

.bg-twitter {
    background: #2a99ed;
}

.bg-twitter:hover,
.bg-twitter:focus {
    background: #268ad5;
}

.lienhe {
    text-align: center;
    margin-top: 25px;
}