body {
    font-family: "Nunito", sans-serif;
    background-color: #B0C4DE;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.noidung {
    display: flex;
    flex-direction: column;
    background-color: #FBFBFF;
    border-radius: 10px;
    padding: 60px 60px 0 0;
    margin-top: 30px;
    max-width: 960px;
    min-width: 360px;
    box-shadow: 0px 0px 20px #000000;
}

.logo {
    width: 300px;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 80px;
    max-width: 960px;
    min-width: 350px;
    margin-left: 15px;
}

.tieude-noidung {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #780218;
    margin-bottom: 25px;
}

.noidungbai {
    padding: 0 40px;
}


.tennoidungbai {
    margin-top: 25px;
    display: block;
    margin-bottom: 0;

}

.tieudenho-noidung {
    display: inline-block;
    text-align: left;
    font-size: 30px;
    color: #780218;
}

.tacgia {
    margin-left: 15px;
    display: inline-block;
    font-size: 20px;
    font-style: italic;
}

video {
    width: 320px;
    height: 320px;
    border: 2px solid #598381;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #000000;
}

.text-noidung {
    text-indent: 2.5em;
    line-height: 30px;
    min-width: 310px;
    max-width: 960px;
    margin-top: 40px;
}

.text-noibat {
    background-color: #598381;
    padding: 1px 5px;
    border-radius: 5px;
    font-weight: bold;
    color: #fbfbff;
}

.callout:hover,
.callout:focus {
    display: block;
    background-color: #8B0000;
    height: fit-content;
}

.tachnoidung {
    border-radius: 5px;
    border: 1px solid #153b50;
    width: 150px;
    margin: 30px;

}